{% extends 'weather/layout.html' %}

{% block content %}
  <center class="row">
    <form action="" method="post" class="col-md-6 col-md-offset-3">
      {% csrf_token %}
      <div class="input-group">
        <input type="text" class="form-control" name="city" placeholder="Search">
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit">
            Search
          </button>
        </div>
        <form>
  </center>
  <div align="center" class="row" style="color: red; text-align:center; font-size: 30px; background-color: rgb(248, 179, 179);">
    {% if error %}
    <p>{{ error }}</p>
    {% endif %}
  </div>
    <hr>
  <div class="card" style="max-width: 500px; margin: 40px auto; padding: 20px; text-align: center; border-radius: 10px; box-shadow: 0 0 10px rgba(0,0,0,0.1);">
    {% if data %}
      <h1 style="text-transform: capitalize;">{{ data.city }}</h1>
      <h3 style="text-transform: capitalize;">{{ data.description }}</h3>

      <hr>

      <p><strong>Country:</strong> {{ data.country_code }}</p>
      <p><strong>Coordinates:</strong> {{ data.coordinate }}</p>
      <p><strong>Temperature:</strong> {{ data.temp }}</p>
      <p><strong>Pressure:</strong> {{ data.pressure }}</p>
      <p><strong>Humidity:</strong> {{ data.humidity }}</p>
    {% endif %}
  </div>
{% endblock %}