{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Detector</title>
</head>
<body>
    <div class="container-fluid">
        <nav class="row" style="background: grey; color: white;">
            <div align="center"><h1 class="col-md-3 text-center">Weather Detector</h1></div>
        </nav>
        <br />
        <br />
        <div class="row">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>
